.checkout {
  padding: 20px;
  background-color: white;
  height: max-content;
  width: 50%;
}
.checkout__title {
  margin-right: 10%;
  padding: 10%;
  border-bottom: 1px solid lightgray;
  width: 50%;
}
.checkout__center {
  width: 50%;
  text-align: center;
}
