.header {
  display: flex;
  align-items: center;
  /*background-color: #131921;margin: auto;*/
  background: #ffffff;
  z-index: 3;
  width: 100%;
  height: 90px;
  max-height: 400px;
  min-width: 100px;
 
 }

.header__logo {
  width: 160px;
  object-fit: contain;
  /* margin: 0 100%; */
  margin-left: 340px;
  position: relative;
  top: 10px;
 
}

.header__search {
  display: flex;
  margin-left: 6%;
  color: #ff7e7e;
  position: relative;
  top: 10px;
}
.header__searchInput {
  height: 36px;
  padding: 0 20px;
  border: 1px solid #ff01dd;
  border-radius: 2px 0 0 2px;
  width: 350px;
  max-width: 330px;
  display: flex;  
}

.header__searchIcon {
  margin-left: 3;
  padding: 7px;
  height: 22px !important;
  background-color: #ff18d8;
  display: flex;
  width: 96px;
}

.header__heart{
  color: #ff00d4;
  display: flex;
  margin-left: 130px;
  font-size: 40px !important;
}

.header__person{
  color: #ff00d4;
  display: flex;
  margin-left: 30px;
  font-size: 40px !important;

}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 3px;
  color: rgb(255, 255, 255);
  position: relative;
  top: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
  color: rgb(245, 0, 225);
  display: flex;
}

.header__optionBasket {
  display: flex;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  position: relative;
  top: 10px;
}