.home__image {
   position: static;
  width: 100%;
  /*z-index: -1;*/
  margin-bottom: -250px;
  position:relative;
  mask-image: #ff0c0c;

}
* ::-webkit-scrollbar {
  display: none;
}
.home {
   position: static;
  display: flex;
  /* background: #ffffff; */
  justify-content: center;
  margin: 0 auto;
  max-width: 960px;
  padding: 16px;
}
.home__row {
   position: static;
  display: flex;
  /*z-index: -1;*/

  margin-left: 5px;
  margin-right: 5px;
}
